<table style="width: 100%; color: #555">
    <tbody>
        <tr>
            <td>
                <div>
                    <h1>Collab & Create</h1>
                </div>
            </td> 
        </tr>
        <tr>
            <td>
                <div>
                    <h4>Hi {{name}},</h3>
                    <h4>Use the code below to reset your password.</h3>
                    <h4>Code: {{code}}</h4>
                </div>
                <div>
                    <button type="button">
                        <a style="text-decoration: none;" href="http://localhost:3000/auth/signin">Confirm</a>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="background-color: green">
                    <small>
                    Copyright - <a class="text-reset fw-bold text-decoration-none" target="_blank"
                    href="https://twitter.com/danielgarax">
                    Daniel Correa
                    </small>
                </div>
            </td>
        </tr>
    </tbody>
</table>